body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    gap: 10px;
}

.container-input{
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    gap: 5px;
}

